/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body { font-size: 20px;

}

code {
	
}

h1, h2, h3 { 
	margin-top: 15px;
	margin-bottom: 5px;

}

h1 { font-size: 2.5em;

}

h2 { font-size: 2em;
	border-bottom: solid 3px;
	border-color: black;
	margin-left: 10px;
	margin-bottom: 20px;
	width:fit-content

}

h3 { font-size: 2em;
	border-bottom: solid 3px;
	border-color: black;
	margin-left: 10px;
	margin-bottom: 20px;
	width: fit-content;
	
}

header { padding: 20px;
	text-align: center;
	
}

main {

}

p { font-family: sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 145%;
	text-align: justify;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 80ch
}

#how-does-it-work, #influence, #joke {

}
